$switch-track-inset-height: 24px !default;
$switch-track-inset-width: 46px !default;
$switch-track-height: 15px !default;
$switch-thumb-height: 20px !default;
$switch-thumb-width: 20px !default;
$switch-thumb-top: calc(50% - 9.5px) !default;
